.Layout {
	height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10% 85% 5%;
}

.Layout, .Layout > * {
    border: 1px solid black;
}

header, footer {
    grid-column: span 2;
}

main {
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

