.Home {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.img-container > img{
    width: 320px;
}

.Home > p {
    font-size: 3.5vh;
}